.Rproj.user
.Rhistory
.RData
.Ruserdata
Noah.txt
javascript - How to stop the playing of a sound in R Shiny - Stack Overflow.webloc
myBoard.txt
Debug.txt
Med5.txt
blank.txt
Med5.doc
Med5Cheat.txt
short.txt
Debug.txt
DecadePresident.txt
DecadePresidentCheat.txt
DoReMiCheat.txt
ForeignWordsCheat.txt
LVB AuthorsCheat.txt
Nobel.txt
PeopleCheat.txt
WordPlayCheat.txt
